{% extends 'base.html' %}

{% block content %}

<div clas='row'>
    <div class='col'>
        {% include 'products/snippets/product_detail.html' with object=product %}
    </div>
        
    <div class='col'>
        {% if can_order %}
        <a class='btn btn-primary' href='/checkout'>${{ product.price }}
            {{ product.order_btn_title }}
        </a>
        
        {% else %}

        {% if form %}
        {% include 'snippets/form.html' with form=form submit_btn='Add to waitlist' %}
        {% endif %}

        {% endif %}
    </div>
</div>

{% endblock content %}