{% extends 'base.html' %}

{% block content %}

<div clas='row'>
    <div class='col col-md-10'>
        
        {% include 'products/snippets/product_detail.html' with object=product %}
        
        <div class='col'> <!--this displays if medium size and excludes below medium-->
            {% include 'products/snippets/order_btn.html' with object=product can_order=can_order form=form %}
        </div>

        {% include 'products/snippets/product_content.html' with object=product %}

    </div>
    <!-- <div class='col d-md-block d-none'> this displays if medium size and excludes below medium -->
        <!-- {% include 'products/snippets/order_btn.html' with object=product can_order=can_order form=form %}
    </div> -->

</div>


{% endblock content %}