{% extends 'base.html' %}

{% block content %}

<div class='row'>
    <h1>{{ object.product.title }}</h1>
    <div class='col-md-2 pull-right'>
<br>

<p>
    <b>Price:</b> ${{ object.product.price }}
</p>

<p>
    <b>Subtotal:</b> {{ object.subtotal }}
</p>

<p>
    <b>Tax:</b> {{ object.tax }}
</p>

<p>
    <b>Total:</b> {{ object.total }}
</p>
</div>

<div class='col col-md-9'>
    {% include 'snippets/form.html' with form=form submit_btn='Complete Order' %}
</div>
    
</div>
{% endblock content %}